 /* .mobileMenuButton {
  position: fixed;
  top: 70px; 
  left: 15px;
  z-index: 900;
  background:rgb(202, 200, 200);
  color: black;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: #2f7a45;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
} */

/* .sidebarOpen {
  transform: translateX(0);
  
} */

/* .overlay {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
} */

/* .menu {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
} */

/* .nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #d9f1e0;
  text-decoration: none;
  transition: all 0.25s ease;
}

.nav a:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.nav a.active {
  background-color: white;
  color: #2f7a45;
  font-weight: 600;
} */

/* .link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #748a7a;
  text-decoration: none;
  transition: all 0.25s ease;
} */

/* .link:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
} */

/* .downIcon {
  margin-left: auto;
  font-size: 18px !important;
  opacity: 0.8;
} */

/* .footer {
  text-align: center;
  background: #ffffff;
  color: orangered;
  padding: 14px;
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #eee;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
} */

/* .overlay {
  position: fixed;
  top: 60px; 
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
} */

@media (min-width: 768px) {
  .mobileMenuButton {
    display: none;
  }
  .sidebar {
    transform: translateX(0);
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
  }
  .overlay {
    display: none;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 75%;
  }
  .nav a {
    font-size: 14px;
    padding: 10px 12px;
  }
  .footer {
    font-size: 13px;
    padding: 10px;
  }
}
