.sidebar {
  width: 220px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #2f7a45, #2e6f3e);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  transition: transform 0.3s ease;
}
@media (min-width: 769px) {
  .sidebar {
    position: sticky;
    top: 0;
    left: 0;
    transform: translateX(0);
  }
  .mobileMenuButton {
    display: none;
  }
  .overlay {
    display: none;
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebarOpen {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 900;
  }

  .mobileMenuButton {
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 1100;
    cursor: pointer;
    background: #2f7a45;
    border-radius: 8px;
    padding: 6px;
    color: white;
  }
}

.menu {
  padding: 20px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 8px;
  color: #87c594;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.2s ease;
}
.linkLabel {
  display: inline-block;
}
@media (max-width: 768px) {
  .linkLabel {
    display: none;
  }
}

.downIcon {
  font-size: 20px;
  opacity: 0.8;
}
.active {
  color: rgba(3, 142, 3, 0.596);
  font-weight: 500;
  background: white;
  border-left: 4px solid #fff;
}
.footer {
  font-size: 15px;
  font-weight: 800;
  opacity: 0.9;
  background-color: white;
  color: orangered;
  padding: 10px;
  text-align: center;
  border: 2px solid #2f7a45;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

